
.head3{

    position:absolute;
        top: 45px;
        left: 150px;
        display:block;
        color: darkslategrey;
}


body{
    background-color:whitesmoke;
}

.row{

        position:absolute;
        top: 85px;
        left: 150px;
        display:block;
    
    
}

.name{
    position:absolute;
    top: 160px;
    left: 20px;
    display:block;

}

.upload{
    position:absolute;
    top: 25px;
    left: 180px;
    display:block;

}

.add{
    position:absolute;
    top: 500px;
    left: 400px;
    display:block;
}

.vid1{
    position:absolute;
    top: 40px;
    left: 600px;
    display:block;
}

.sample_upload{
border: 1px solid #ccc;
display: block;
cursor: pointer;
}