
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Review</title>


<!-- My Css -->
<link rel="stylesheet" type = "text/css" href="{% static 'css/uditha.css' %}">


</head>
<body>


<img id="logo_2" img src="{% static 'images/logo.jpg' %}"> 
<div id="Voltage_Entertainment2">
		<span>Voltage Entertainment</span>
	</div>

<nav class="nav">
        <div class="container">
           
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{% url 'reservation_manage' %}">Home</a></li>
                    <li><a href="#">Sign in</a></li>
					 <li><a href="{% url 'reservation_manage' %}">Reservations</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="{% url 'AdminPanel' %}">Panel</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
  
  

<svg class="viewbox" id  = "section1" viewBox="0 0 633.183 627.287">
		<linearGradient id="Path_3_j" spreadMethod="pad" x1="0.104" x2="0.782" y1="-0.293" y2="1.082">
			<stop offset="0" stop-color="#f4f5f5" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#f1e6f1" stop-opacity="0"></stop>
		</linearGradient>
		
</svg>

<svg class="viewbox" id  = "section2" viewBox="0 0 633.183 627.287">
		<linearGradient id="Path_3_j" spreadMethod="pad" x1="0.104" x2="0.782" y1="-0.293" y2="1.082">
	
			<stop offset="0" stop-color="#f4f5f5" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#f1e6f1" stop-opacity="0"></stop>
		</linearGradient>
		
</svg>



<div class ="UserName">
{% for cus in customer %} 
<p><img id="profile_icon" img src="{% static 'images/profile.png' %}">{{cus.F_name}}</p>
{% endfor %}
</div>




<div class ="eventDetails">
{% for eve in event %} 
<p><img id="contact_icon" img src="{% static 'images/contact.png' %}"> {{eve.Contact}}</p>
<p><img id="date_icon" img src="{% static 'images/date.png' %}">{{eve.Date}}</p>
<p><img id="location_icon" img src="{% static 'images/location.png' %}">{{eve.Location}}</p>
<p><img id="event_icon" img src="{% static 'images/event.png' %}">{{eve.Event_type}}</p>
<p><img id="status_icon" img src="{% static 'images/status.png' %}">{{eve.Status}}</p>

<button type="button" class="myButton"  onclick="location.href='{% url 'MarkAsCompleted' id=eve.Event_ID %}'"  id = "MarkCompleted">Mark As Completed</button>
{% endfor %}

</div>

<div class ="resDetails">

{% for res in reservations %} 
<p>Resources ID:  <strong>{{res.Resources_ID}}</strong></p>
<p>From: <strong>{{res.S_Time}}</strong></p>
<p>To:  <strong>{{res.S_Time}}</strong></p>
<p>---------------</p>

{% endfor %}

</div>

<a href="#" class="myButton" id = "viewback">back</a>




</body>

</body>



 
</html>