{% load static %}
<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="{% static 'css/photo_customer.css' %}">

<body style="background-color:rgb(15, 15, 15);"></body>
<h1 style="color:white" font-size:"20px">VOLTAGE ENTERTAINMENT</h1><br>
</center>
<hr>
</head>

<body>
    <br>
    <div class="show">
        <center>
            <p2 style="color: white; font-size: 40px;">PHOTOGRAPHERS</p2>
        </center>

    </div>


    <div class="card">


        {% if messages %}
        <div class="msg">
            {% for message in messages %}
            <p style="background-color:blue; text-align: center;font-size: 20px; color: cornsilk;"> {{ message }} </p>
            {% endfor %}
        </div>
        {% endif %}




        <!--<input type="date" style="padding:10px 30px;background-color:rgb(196, 199, 3)" id="bookingdate"
            name="bookingdate">


        <input type="submit"
            style="border-radius: 10px;padding:15px 20px;color:white ;background-color:rgb(106, 109, 109)"
            value="submit">-->



        <div class="card">
            {% for photo in photo_test %}
            <div class="show">
                <form method="post">


                    {% csrf_token %}
                    <div class="first_one">

                        <center>
                            <div class="pic">
                                <img src="{%static 'images/pic.jpg' %}" style=" border-radius: 50%;" width="200"
                                    height="200">
                            </div>
                            <br><br>
                            <label for="Name" style="color:white" name="id">{{ photo.name }}</label><br>
                            <label for="Name" style="color:white" name="id">{{ photo.des }}</label>
                        </center><br>
                        <center>
                            <img src="{%static 'images/1.jpg' %}" width="200" height="200">
                            <img src="{%static 'images/2.jpg' %}" width="200" height="200">
                            <img src="{%static 'images/3.jpg' %}" width="200" height="200">
                            <img src="{%static 'images/4.jpg' %}" width="200" height="200">
                        </center>
                        <div class="Details">
                        </div>
                        <input class="Details1" onclick="location.href='{% url 'photoprofile' id=photo.id %}'"
                            value="More Details">

                        <hr>
                    </div>
                    {% endfor %}
                    <input type="date" id="checkdate" style="background-color: yellow;" name="checkdate">
                    <div class="Details1">
                        <input type="submit" value="Check availability" style="border-radius: 50px;" id="checkbutton">
                    </div>
            </div>
        </div>
        </form>
</body>

</html>