<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="../css/photo_customer.css">

<body style="background-color:rgb(15, 15, 15);"></body>
<h1 style="color:white" font-size:"20px">VOLTAGE ENTERTAINMENT</h1><br>
</center>
<hr>
</head>

<body>
    <br>

    <div class="check">
        <button class="button check" onclick="checking">CHECK AVAILABILITY</button>

    </div>


    <form action="/action_page.php">
        <label for="calender" style="color:white">Enter the
            Reservation Date:</label>
        <input type="date" style="padding:10px 30px;background-color:rgb(196, 199, 3)" id="bookingdate"
            name="bookingdate">


        <input type="submit"
            style="border-radius: 10px;padding:15px 20px;color:white ;background-color:rgb(106, 109, 109)"
            value="submit">

    </form>






    <div class="first_one">
        <center>
            <p1 style="color:white">Profile Photo</p1><br><br>
            <img src="../photo/nil.jpg" width="200" height="200">
            <br><br>
            <label for="Name" style="color:white">Photographer Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
            <img src="../photo/2.jpg" width="200" height="200">
            <img src="../photo/3.jpg" width="200" height="200">
            <img src="../photo/4.jpg" width="200" height="200">
            <img src="../photo/5.jpg" width="200" height="200">
            <img src="../photo/nil.jpg" width="200" height="200">



        </center>
        <div class="Details">
            <button class="Details1" onclick="checking">More Details</button>

        </div>



        <hr>
    </div>
    <div class="second_one">
        <center>
            <p1 style="color:white">Profile Photo</p1><br><br>
            <img src="../photo/nil.jpg" width="200" height="200">
            <br><br>
            <label for="Name" style="color:white">Photographer Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
            <img src="../photo/2.jpg" width="200" height="200">
            <img src="../photo/3.jpg" width="200" height="200">
            <img src="../photo/4.jpg" width="200" height="200">
            <img src="../photo/5.jpg" width="200" height="200">
            <img src="../photo/nil.jpg" width="200" height="200">
        </center>
        <div class="Details">

            <button class="button Details2" onclick="checking">More Details</button>

        </div>


    </div>
    <hr>
    <div class="third_one">

        <center>
            <p1 style="color:white">Profile Photo</p1><br><br>
            <img src="../photo/nil.jpg" width="200" height="200">
            <br><br>
            <label for="Name" style="color:white">Photographer Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
            <img src="../photo/2.jpg" width="200" height="200">
            <img src="../photo/3.jpg" width="200" height="200">
            <img src="../photo/4.jpg" width="200" height="200">
            <img src="../photo/5.jpg" width="200" height="200">
            <img src="../photo/nil.jpg" width="200" height="200">

        </center>
        <div class="Details">
            <button class="Details3" onclick="checking">More Details</button>

        </div>
    </div>
    <hr>
    <div class="forth_one">
        <center>
            <p1 style="color:white">Profile Photo</p1><br><br>
            <img src="../photo/nil.jpg" width="200" height="200">
            <br><br>
            <label for="Name" style="color:white">Photographer Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
            <img src="../photo/2.jpg" width="200" height="200">
            <img src="../photo/3.jpg" width="200" height="200">
            <img src="../photo/4.jpg" width="200" height="200">
            <img src="../photo/5.jpg" width="200" height="200">
            <img src="../photo/nil.jpg" width="200" height="200">
        </center>
        <div class="Details">
            <button class="Details4" onclick="checking">More Details</button>

        </div>

    </div>


</body>

</html>