{% load static %}
<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="C:\Users\Win 10\Desktop\Chamodi9\Css\chamodi.css">
		

<body style="background-color:rgb(15, 15, 15);"></body>

</center>

</head>

<body>
    <br>

   

    <div class="first_one">
        
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
		<center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\11.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\12.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\13.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\14.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\15.jpg" width="200" height="200">  
        </center>
	
		</div>
		
		<div class="sub">
        <center>
         <table>
		 <th><svg class="viewbox3" ></svg></th>
		 
             <a href="#" class="myButton" id = "confirm">Add to my Reservations</a>
            <a href="#" class="myButton" id = "send">Cancel</a>
		
		</table>
        
        </center>
		
		
    </div>
     
</body>

</html>