{% load static %}
<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="C:\Users\Win 10\Desktop\Chamodi9\Css\chamodi.css">


<body style="background-color:rgb(15, 15, 15);"></body>

</center>

</head>

<body>
    
	<br>
   <center><p style="color:white;font-size:40px"   >Recently Added</p></center>
    
    <hr>
<div class="first_one">
        
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
		<center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\11.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\12.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\13.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\14.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\15.jpg" width="200" height="200">
            
        </center>
		<br><br><br><br>
		
		
           <a href="#" class="myButton" id = "d1">Update</a>
           <a href="#" class="myButton" id = "d2">Remove</a>
			
			
        
		
        <hr>
    
    <div class="second_one">
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\1.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\2.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\3.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\4.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\5.jpg" width="200" height="200">
            
        </center>
		<br><br><br><br>
        
            <a href="#" class="myButton" id = "d3">Update</a>
            <a href="#" class="myButton" id = "d4">Remove</a>
			
        
    </div>
    <hr>
    <div class="third_one">
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
			
        </center><br>
		    
        <center>
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\6.jpeg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\7.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\8.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\9.jpg" width="200" height="200">
			<img src="C:\Users\Win 10\Desktop\Chamodi9\Images\10.jpg" width="200" height="200">
        </center>
		<br><br><br><br>
            <a href="#" class="myButton" id = "d5">Update</a>
            <a href="#" class="myButton" id = "d6">Remove</a>
		
        
    </div>
    
    


</body>

</html>