{% load static %}
<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="C:\Users\Win 10\Desktop\Chamodi9\Css\chamodi.css">

<body style="background-color:rgb(15, 15, 15);"></body>

</center>

</head>

<body>
    <br>

   

    <div class="first_one">
    </form method="POST">   
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="dec_name" size="20" required>
        </center><br>
		<center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\a.png" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\a.png" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\a.png" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\a.png" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\a.png" width="200" height="200">  
        </center>
        <br><br>
        
		
        <input type="file" class="myButton" id = "c1" value="Upload" name="dec_img1" required>
        <input type="file" class="myButton" id = "c2" value="Upload" name="dec_img2" required>
        <input type="file" class="myButton" id = "c3" value="Upload" name="dec_img3" required
        <input type="file" class="myButton" id = "c4" value="Upload" name="dec_img4" required>
        <input type="file" class="myButton" id = "c5" value="Upload" name="dec_img5" required>

	    
		</div>
		<br><br><br>
		
		<div class="sub">
        <center>
         <table>
         <th><textarea class="viewbox3" required></textarea></th>
		 
            <input type="submit" class="myButton" id = "confirm" value="Add">
            <a href="#" class="myButton" id = "send">Cancel</a>
		
		</table>
        
        </center>
        {% if messages %}
        {% for message in messages %}
        <h2 style="color:blue;">{{message}}</h2>
        {% endfor %}
        {% endif %}

    <form>	
		
    </div>
     
</body>

</html>