{% load static %}
<!DOCTYPE html>
<html>

<head>
    <center>
        <link rel="stylesheet" type="text/css" href="C:\Users\Win 10\Desktop\Chamodi9\Css\chamodi.css">


<body style="background-color:rgb(15, 15, 15);"></body>

</center>

</head>

<body>
    <br>

    <form action="/action_page.php">
	<center>
        <label for="calender" style="color:white">Select price range :</label>
		<select style="padding:10px 30px;background-color:rgb(196, 199, 3)">
		<option>Less than LKR 10000.00</option>
		<option>LKR 10000.00-LKR 50000.00</option>
		<option>Greater than LKR 50000.00</option>
		</select>
        <input type="submit"
            style="border-radius: 10px;padding:15px 20px;color:white ;background-color:rgb(106, 109, 109)"
            value="SEARCH">
    </center> 
    </form>
    <hr>





    <div class="first_one">
        
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
		<center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\11.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\12.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\13.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\14.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\15.jpg" width="200" height="200">
            
        </center>
		<br><br><br><br>
		<center>
		<a href="#" class="myButton" id = "b1">More Details</a>
		</center>
        <hr>
    
    <div class="second_one">
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
        </center><br>
        <center>
		    <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\1.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\2.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\3.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\4.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\5.jpg" width="200" height="200">
            
        </center>
		<br><br><br><br>
		<center>
        <a href="#" class="myButton" id = "b2">More Details</a>
        </center>
    </div>
    <hr>
    <div class="third_one">
        <center>

            <label for="Name" style="color:white">Package Name:</label>
            <input type="text" id="name" name="name" size="20">
			
        </center><br>
		    
        <center>
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\6.jpeg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\7.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\8.jpg" width="200" height="200">
            <img src="C:\Users\Win 10\Desktop\Chamodi9\Images\9.jpg" width="200" height="200">
			<img src="C:\Users\Win 10\Desktop\Chamodi9\Images\10.jpg" width="200" height="200">
        </center>
		<br><br><br><br>
		<center>
        <a href="#" class="myButton" id = "b3">More Details</a>
        </center>
    </div>
    
    


</body>

</html>