
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>


<!-- My Css -->
<link rel="stylesheet" type = "text/css" href="{% static 'css/uditha.css' %}">

</head>
<body>

<img id="logo_1" <img src="../{% static 'images' %}/logo.png"> srcset="logo_1.png 1x, logo_1@2x.png 2x">


<svg class="viewbox1" viewBox="0 0 633.183 627.287">
		<linearGradient id="Path_3_j" spreadMethod="pad" x1="0.104" x2="0.782" y1="-0.293" y2="1.082">
			<stop offset="0" stop-color="#f4f5f5" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#f1e6f1" stop-opacity="0"></stop>
		</linearGradient>
		
	</svg>

<div id="Voltage_Entertainment">
		<span>Voltage Entertainment</span>
	</div>

    <div id="Photography__Videography_">
		<span>Photography | Videography</span><br>
	</div>
    <div id="Sound_systems__Decorations_">
		<span>Sound systems | Decorations</span><br>
	</div>
    <div id="Music_band__LED_walls__lights_">
		<span>Music band | LED walls &amp; lights</span><br>
	</div>




</body>


 
</html>