<!doctype html>
<html lang="en">
  <head>
    <title>Music Band</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="add.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <div class="container">
   <div class="jumbotron">
      <img id="logo" src="images/download.jfif">
      <h2>Voltage Entertainment</h2>      
      <h3>Music Band</h3>
    </div>
  </div>
  <h4>Add sample upto 5</h4>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="images/img1.jpg" alt="Get together" height="170">
          <div class="card-body">
            <h5 class="card-title">Anual Get together</h5> 
            <p2 class="card-text">We provide a best music band to your get togethers and parties with low rates.</p2>
            <a href="#" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="images/img2.png" alt="Ape gama">
          <div class="card-body">
            <h5 class="card-title">Ape Gama</h5>
            <p2 class="card-text">All the classical events,traditional events can be coved by our music band.  </p2>
            <a href="#" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="images/img3.png" alt="Wedding">
          <div class="card-body">
            <h5 class="card-title">Wedding Ceromany</h5>
            <p2 class="card-text">Provie good music environment to beautiful wedding with offers.</p2><br>
            <a href="#" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="images/img5.png" alt="Wedding" height="170">
          <div class="card-body">
            <h5 class="card-title">Musical Show</h5>
            <p2 class="card-text">Indoor or outdoor musical show with differents offaer and rates.</p2><br>
            <a href="#" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="images/img2.png" alt="Ape gama">
          <div class="card-body">
            <h5 class="card-title">Wiramaya</h5>
            <p2 class="card-text">Traditional event playing with new musical culture and new vocal voices.</p2><br>
            <a href="#" class="btn btn-primary">Upload</a>
          </div>
        </div>
      </div>
      <div class="col-lg-200 col-1200">
      <div class="card-body">
        <h5 class="card-title">About Band</h5>
        <p1 class="card-text">We are providing a very talented music band whic has most talente singers and players.<br>
          Then, talk about what you’re currently up to with your music. Have you just gone into the studio? Released <br>
          a single? Co-written a song with another artist?<br>
          Choose the most relevant, and recent things that you’ve done with your music, and add those to your bio.
          </p1>
          <br><br>
        <a href="#" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container py-sm-4">
        <div class="row">
          <div class="col-md-10 my-4 mx-auto">
            <h2 class="text-center">Package Tablege</h2>
            <hr>
            <div class="row no-gutters my-3">
              <div class="col-md-4 pr-2">
                <div class="list-group text-center my-3">
                  <div class="list-group-item text-white bg-dark">
                    <h4 class="text-center my-1">Basic</h4>
                  </div>
                  <div class="list-group-item text-uppercase font-weight-bold">
                    Songs upto 100
                  </div>
                  <p>Play the songs as your preferences.</p>
                  <p>Provide a better friendly and good service</p>
                  <p><strong>Charging rate - Rs.20,000.00</strong></p>
                  <p>Make a reservation to get offers.</p>
                  <div class="list-group-item">
                    <button class="btn btn-success btn-lg btn-block text-truncate">Add New </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="list-group text-center">
                  <div class="list-group-item text-white bg-dark">
                    <h4 class="text-center my-1">Standard<br></h4>
                  </div>
                  <div class="list-group-item text-uppercase font-weight-bold">
                    Songs upto 150
                  </div>
                  
                  <p>Play the songs as your preferences.</p>
                  <p>Provide a better friendly and good service</p>
                  <p><strong>Charging rate - Rs.25,000.00</strong></p>
                  <p>Make a reservation to get offers.</p>
                  <div class="list-group-item">
                    <button class="btn btn-success btn-lg btn-block text-truncate">Add New</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pl-2">
                <div class="list-group text-center my-3">
                  <div class="list-group-item text-white bg-dark">
                    <h4 class="text-center my-1">Premium</h4>
                  </div>
                  <div class="list-group-item text-uppercase font-weight-bold">
                    Songs more than 200
                  </div>
                  <p>Play the songs as your preferences.</p>
                  <p>Provide a better friendly and good service</p>
                  <p><strong>Charging rate - Rs.35,000.00</strong></p>
                  <p>Make a reservation to get offers.</p>
                  <div class="list-group-item">
                    <button class="btn btn-success btn-lg btn-block text-truncate">Add New</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</body> 
</html>