{% load static %}
<!DOCTYPE html>
<html>

<head>









<body style="background-color:rgb(15, 15, 15);"></body>

</head>

<body>

    <center>
        <h1 style="color:white" font-size:"20px">VOLTAGE ENTERTAINMENT</h1><br>
        <hr>
        <p style="color:white">!!Please Check Details before Deletion!!</p>
        <h2 style="color:white">Phtotgrapher's Details</h2>

        <img src="nil.jpg" width="200" height="200">
        <br><br>
        <label for="Name" style="color:white">Full Name:</label>
        <input type="text" id="name" name="name" size="20"><br><br>

        <label for="Experience" style="color:white">Experience:</label>
        <input type="text" id="Experience" name="Experience" size="20"><br><br>

        <label for="Description" style="color:white">Description:</label>

        <textarea id="review" name="review" rows="4" cols="50">

            </textarea>



        <p2>Portfolioes</p2><br><br>
    </center>
    <center>
        <img src="../static/images/1.jpg" width="200" height="200">
        <img src="../static/images/2.jpg" width="200" height="200">
        <img src="../static/images/3.jpg" width="200" height="200">
        <img src="../static/images/4.jpg" width="200" height="200">
        <img src="../static/images/5.jpg" width="200" height="200">
    </center>

    <br><br> <br><br> <br><br>
    <center>
        <p3>Contact Details</p3><br>
        <label for=" Contact Number" style="color:white">Contact Number:</label>
        <input type="text" id="Contact Number" name="Contact Number" size="20">

        <label for="Email" style="color:white">Email:</label>
        <input type="text" id="Email" name="Email" size="20">
        <label for="FaceBook" style="color:white">FaceBook:</label>
        <input type="text" id="FaceBook" name="FaceBook" size="20">
        <label for=" Reservationfee" style="color:white">Reservation Fee:</label>
        <input type="text" id="Fee" name="Reservationfee" size="20">
        <br><br>

        <button
            style=" padding: 10px 30px;background-color:rgb(23, 161, 5); border-color:rgb(238, 238, 243); color:white">Cancel</button>
        <button style=" padding: 10px 30px;background-color:red; border-color:rgb(251, 251, 255); color:white">
            Confirm Delete</button>


        <center>





</body>

</html>