{% load static %}
<!DOCTYPE html>
<html>

<head>



<body style="background-color:rgb(34, 33, 33);">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaveesha.css' %}">


    </head>

    <body>

        <!--navigation bar-->
        <nav class="nav">
            <div class="container">

                <div id="mainListDiv" class="main_list">
                    <ul class="navlinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Reservations</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <span class="navTrigger">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </div>
        </nav>

        <img id="logo_2" img src="{% static 'images/logo.jpg' %}">
        <center>
            <h1 style="color:white" font-size:"20px" style="background-color: rgb(67, 129, 245);">VOLTAGE ENTERTAINMENT
            </h1><br>
        </center>
        <div id="Voltage_Entertainment2">
            <span></span>
        </div>






        <br>




        <hr>
        <center>
            <h2 style="color:white">ADD New Photographer</h2>

            <p style="color:white">Upload profile photo here!</p>

            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="file" id="file1" accept="image/*" name="image" id="file" onchange="loadFile1(event)"
                        style="display: none;"></p>
                <p><label for="file1" style="cursor: pointer;color:rgb(233, 188, 7);">Upload Image</label></p>

                <script>
                    var loadFile1 = function (event) {
                        var image = document.getElementById('image1');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
                <br><br>
                <br>
                <div class="pic">

                    <img id="image1" style=" border-radius: 50%;" width="200" height="200">
                </div>
                <br><br>
            </form>
        </center>



        <form method="POST">

            {% csrf_token %}



            <!-- <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
            <!-- <script src="../static/js/#kaveesha.js"></script> -->



            <div style="display: flex;color: rgb(233, 188, 7);">
                <div>

                    <img id="image2" width="200" height="200">
                    <p><input type="file" id="file2" accept="image/*" name="image" id="file" onchange="loadFile2(event)"
                            style="display: none;"></p>
                    <p><label for="file2" style="cursor: pointer;">Upload Image</label></p>

                    <script>
                        var loadFile2 = function (event) {
                            var image = document.getElementById('image2');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>

                <div>
                    <img id="image3" width="200" height="200">
                    <p><input type="file" id="file3" accept="image/*" name="image" id="file" onchange="loadFile3(event)"
                            style="display: none;"></p>
                    <p><label for="file3" style="cursor: pointer;">Upload Image</label></p>

                    <script>
                        var loadFile3 = function (event) {
                            var image = document.getElementById('image3');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>
                <div>
                    <img id="image4" width="200" height="200">
                    <p><input type="file" id="file4" accept="image/*" name="image" id="file" onchange="loadFile4(event)"
                            style="display: none;"></p>
                    <p><label for="file4" style="cursor: pointer;">Upload Image</label></p>

                    <script>
                        var loadFile4 = function (event) {
                            var image = document.getElementById('image4');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>
                <div>
                    <img id="image5" width="200" height="200">
                    <p><input type="file" id="file5" accept="image/*" name="image" id="file" onchange="loadFile5(event)"
                            style="display: none;"></p>
                    <p><label for="file5" style="cursor: pointer;">Upload Image</label></p>

                    <script>
                        var loadFile5 = function (event) {
                            var image = document.getElementById('image5');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>

            </div>




            <!-- </center> -->
            <div class="edittext">
                <center>
                    <p style="color:white"> Details of the Photographer</p><br>
                    <br>
                    <!--<label for="PID" style="color:white">PID:</label>
                    <input type="text" style="border-radius: 25px;" id="name" name="PID" size="20">-->

                    <label for="Name" style="color:white">Name:</label>
                    <input type="text" id="name" style="border-radius: 25px;" name="name" size="20" required>

                    <label for="Experience" style="color:white">Experience:</label>
                    <input type="text" id="Experience" style="border-radius: 25px;" name="exp" size="20" required>

                    <label for="Description" style="color:white">Description:</label>
                    <input type="text" id="Description" style="border-radius: 25px;" name="des" size="20" required>



                    <label for=" Contact Number" style="color:white">Contact Number:</label>
                    <input type="text" id="Contact Number" style="border-radius: 25px;" name="phone" size="20"><br><br>

                    <label for="Email" style="color:white">Email:</label>
                    <input type="text" id="Email" style="border-radius: 25px;" name="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" size="20" required>


                    <label for="FaceBook" style="color:white">FaceBook:</label>
                    <input type="text" id="FaceBook" style="border-radius: 25px;" name="FB" size="20" required>

                    <label for=" Reservationfee" style="color:white">Reservation Fee:</label>
                    <input type="text" id="Fee" name="fee" style="border-radius: 25px;" size="20" required><br><br><br>
                </center>
            </div>
            <center>
                <button style=" padding: 10px 30px;background-color:red; border-color:blue; color:white">Cancel</button>
                <input type="submit" style=" padding: 10px 30px;background-color:green; border-color:white;color:white"
                    value="EnterData">
            </center>
            {% if messages%}
            {% for messages in messages %}
            <h4 style="color: blue;">{{message}}</h4>
            {% endfor %}
            {% endif %}

        </form>

    </body>




</html>