{% load static %}
<!DOCTYPE html>
<html>

<head>

<body style="background-color:rgb(7, 18, 54);"></body>

<link rel="stylesheet" type="text/css" href="../css/photo_profile.css">

</head>

<body>
    <center>

        <h1 style="color:white" font-size:"20px">VOLTAGE ENTERTAINMENT</h1><br>
        <hr>
        <div class="profile">
            <h2 style="color:white">Photographer's Profile</h2><br>
        </div>

    </center>


    <center>
        <img src="{%static 'images/pic.jpg' %}" style=" border-radius: 50%;" width="300" height="300"><br>
    </center>
    {% for photo in photo_test %}
    <form method="POST" action="{% url 'bookphotographer'%}">
        <div class="fill">
            {% csrf_token %}
            <label for="Name" style="color:white">Name:</label><br>
            <input type="text" id="name" name="name" value="{{photo.name}}" size="40">
            <br>

            <label for="Experience" style="color:white">Experience:</label><br>
            <input type="text" id="Experience" name="exp" value="{{photo.exp}}" size="40"> <br>

            <label for="Description" style="color:white">Description:</label><br>
            <!--<textarea id="w3review" name="des" value="{{photo.des}}" rows="2" cols="50">-->
            <input type="text" id="des" name="des" value="{{photo.des}}" size="40"> <br>

            </textarea><br>


            <label for=" Contact Number" style="color:white">ContactNumber:</label><br>
            <input type="text" id="Contact Number" name="phone" value="{{photo.phone}}" size="20"><br>

            <label for="Email" style="color:white">Email:</label><br>
            <input type="text" id="Email" name="Email" value="{{photo.email}}" size="40"><br>

            <label for="FaceBook" style="color:white">FaceBook:</label><br>
            <input type="text" id="FaceBook" name="FaceBook" value="{{photo.FB}}" size="40"><br>

            <label for=" Contact Number" style="color:white">ReservationFee:</label><br>
            <input type="text" id="Fee" name="Contact Number" value="{{photo.fee}}" size="40">

            <input type="text" style="display:none;" value={{photo.PID}} name="PID" display:none>
        </div>
        <center>
            <p style="color:white">Enter the reservation dates:</p>
            <input type="datetime-local" id="daytime1" style="padding:10px 30px;background-color:rgb(196, 199, 3)"
                name="bookingdate">
            <input type="datetime-local" id="daytime2" style="padding:10px 30px;background-color:rgb(196, 199, 3)"
                name="enddate"><br>
        </center>
        {% endfor %}
        <center>


            <!--- <label for="calender" style="color:white">Enter the
                Reservation Date:</label>
            <input type="date" style="padding:10px 30px;background-color:rgb(196, 199, 3)" id="bookingdate"
                name="bookingdate">-->


            <br>
            <input type="submit" value="Book now"
                style="border-radius: 10px;padding:15px 20px;color:white ;background-color:rgb(12, 151, 7)"
                id="booknow">

    </form>
    </center>
    <center>
        <br>
        <img src="{%static 'images/1.jpg' %}" width="200" height="200">
        <img src="{%static 'images/2.jpg' %}" width="200" height="200">
        <img src="{%static 'images/3.jpg' %}" width="200" height="200">
        <img src="{%static 'images/4.jpg' %}" width="200" height="200">


    </center>




</body>

</html>