
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manage</title>


<!-- My Css -->
<link rel="stylesheet" type = "text/css" href="{% static 'css/uditha.css' %}">
<style>
 body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1545158828-4e222fdb1d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1500&q=80')
  }
</style>


</head>
<body>

 
<div id="Voltage_Entertainment2">
		<span>Voltage Entertainment</span>
	</div>

<nav class="nav">
        <div class="container">
           
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign in</a></li>
					 <li><a href="#">Reservations</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>


<div class="login-box">
</div>

<div class = "box1">
<div class="login-box">

<div class = "upcoming">
  {% for res in event %} 
    {% if res.Status == 'upcoming' %}

    <ul style="list-style-type:none;">

	  <li>{{res.Date}} <button type="button" class = "admin_button" onclick="location.href='{% url 'viewReservation' id=res.Event_ID user=res.Customer_ID %}'">View</button></li>

    </ul>
   

    {% endif %}
  {% endfor %}

</div>
</div>
</div>

<div class = "box2">
<div class="login-box">
</div>
</div>


<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>



<img id="logo_2" img src="{% static 'images/logo.jpg' %}">



  <div id="upcoming">
		<span>Upcoming</span>
	</div>
	  <div id="review">
		<span>To review</span>
	</div>
	  <div id="bin">
		<span>Bin</span>
	</div>





<div class = "waiting">
  {% for res in event %} 
    {% if res.Status == 'waiting' %}

    <ul style="list-style-type:none;">

	  <li>{{res.Event_ID}}  {{res.Date}}  <button type="button"  class = "admin_button"  onclick="location.href='{% url 'review' id=res.Event_ID user=res.Customer_ID %}'">View</button></li>

    </ul>
   

    {% endif %}
  {% endfor %}

</div>


<div class = "bin">

  {% for eve in completed_events %} 

    <ul style="list-style-type:none;">

	  <li>{{eve.Event_ID}}  {{eve.Date}}  <button type="button"  class = "admin_button"   onclick="location.href='{% url 'deleteReservation' id=eve.Event_ID user=eve.Customer_ID %}'">View</button></li>

    </ul>
   
  {% endfor %}

  </div>


</body>



 
</html>