<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Sound Systems</title>
	
<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi.css' %}">

</head>
</html>

<html>
<head>
</head>

<body style="background-color:#FFEBCD;">

	
<center>
	
	
	<h1 id="mainhead">Voltage Entertainment</h1>
	
		<hr>
	
<h2 id="subhead">SOUND SYSTEMS</h2><br>
	

	<input type="date" id="checkdate">
	<input name="button" type="button" id="checkbtn" value="Check Availability">
	
		
	 <h3>Package 01</h3>
	     <input type="button" name="button" id="buttonmain" value="See Details">
	
	 <h3>Package 02</h3>
	     <input type="button" name="button" id="buttonmain" value="See Details">
	
	 <h3>Package 03</h3>
	     <input type="button" name="button" id="buttonmain" value="See Details">
	
	
	
	</center>
	
		
		  
	<hr>
	<center>
<footer id="foot">Voltage Entertainment</footer>	
	</center>
</body>
</html>
