<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sound System Admin Panel</title>
	

<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi.css' %}">

	
</head>
</html>

<html>
<head>
</head>

<body style="background-color:#FFEBCD;">

	
<center>
	
	
	<h1 id="mainhead">Voltage Entertainment</h1>
	
		<hr>
	
    <h2 id="subhead">SOUND SYSTEMS</h2><br>

	<h4 id="subheadad">Add samples up to 5</h4>
	
		
	 
	<input type="button" name="button" id="btnupload" value="Upload">
    <input type="button" name="button" id="btnupload" value="Upload">
	<input type="button" name="button" id="btnupload" value="Upload">
	<input type="button" name="button" id="btnupload" value="Upload">
	<input type="button" name="button" id="btnupload" value="Upload">
	
	
	<br>
	<br>
	
	
	
	<textarea id="adddetails"></textarea><br>
	
	<input type="button" name="button" id="btnadcan" value="Cancel">
	<input type="button" name="button" id="btnadcan" value="Add">

	
</center>	
	
		
		  
	<hr>




	<center>
<footer id="foot">Voltage Entertainment</footer>	
	</center>



</body>
</html>
