{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Sound Test</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi/custom.css' %}">


</head>
<body style="background-color:">


	
<h5> Sound Admin Test</h5>


            


        <table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
           
            <th>Package name</th>
            <th>Suitable for</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>
      
         {% for sound in soundsystem%}
    

        <tr>
            <td>{{sound.Package_name}}</td>
            <td>{{sound.Suitable_for}}</td>
            <td>{{sound.Brand}}</td>
            <td>{{sound.Price}}</td>
            <td><center><a class="btn btn-sm btn-warning"  href="{% url 'edit' id=sound.id %}" ><span class="glyphicon glyphicon-edit"></span> Edit</a></td>

        </tr>

         

        </form>
        {% endfor %}

    </tbody>
</table>


<hr>






</body>
</html>